version: '3.8'
services:

  # FrankenPHP Service
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    image: mudik-pgn-app
    container_name: mudik-pgn-app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    ports:
      - "8000:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./:/var/www
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - app-network

  # MySQL Service
  db:
    image: mysql:8.0
    container_name: mudik-pgn-db
    restart: unless-stopped
    tty: true
    ports:
      - "33060:3306"
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
  caddy_data:
  caddy_config:
